









<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>

<style type="text/css">
/*<![CDATA[*/ /* shawl.qiu pure css popup menu demo */
    body{ margin:0px auto; width: auto; /* 定义页面居中显示,*/}
    *{text-decoration:none!important; /* 定义所有链接不显示下划线 */}
    /* ------------------- start 针对 Opera, Firefox 的 CSS 弹出菜单 -------------------*/
    .pmVerticalRightOut{background-color:#fff!important; /* 定义主菜单域背景色 */}
    .pmVerticalRightOut .level{   /* 定义一级类别属性 */
        width:220px; /* 宽度 */
        height:50; /* 高度 */
        position:relative; /* 显示位置为相对位置 */
        display:block; /* 以块模式显示 */
        background-color:#9999; /* 背景色 */
        padding:15px 3px; /* 文字内补丁间隔 */
        margin:0px 0px 1px 0px; /* 菜单外补丁间隔 */
    }
    .pmVerticalRightOut .level:hover { /* 当鼠标划过一级菜单时 */
        background-color:#6633FF; /* 背景色 */
        color:#FFFFFF; /* 文字颜色 */
    }
    .pmVerticalRightOut .level_{display:none; /* 默认隐藏二级类别 */}

    .pmVerticalRightOut .level:hover .level_ { /* 鼠标划过时触发显示二级类别 */
        display:block; /* 以块显示 */
        left:124px; /* 相对于一级类别显示的位置 */
        width:120px; /* 宽度 */
        height:auto; /* 高度 */
        top:0px; /* 相对于一级类别所在位置的顶端 */
        background-color:#EFEFEF; /* 定义背景色 */
        position:absolute; /* 位置为绝对位置 */
    }
    .pmVerticalRightOut .level:hover .level_ .level_title {
        /* 定义二级类别标题样式 */
        font-weight:bold; /* 字体加粗 */
        background-color:#A7ADFE; /* 背景色 */
        color:white; /* 文字颜色 */
    }
    .pmVerticalRightOut .level:hover .level_ a:hover {
        /* 定义二级类别链接显示样式 */
        background-color:#F83658; /* 背景色 */
        color:white; /* 文字颜色 */
    }
    .pmVerticalRightOut .level:hover .level_ * {
        /* 定义所有二级类别通用属性 */
        display:block; /* 以块显示 */
        color:black; /* 文字颜色 */
        padding:15px 3px; /* 内补丁间隔 */
    }
    /* ------------------- end 针对 Opera, Firefox 的 CSS 弹出菜单 -------------------*/

    /* ------------------- start 针对 IE 的 CSS 弹出菜单 -------------------*/
    .levelIe{   /* 定义一级类别属性 */
        width:220px; /* 宽度 */
        height:50; /* 高度 */
        position:relative; /* 显示位置为相对位置 */
        display:block; /* 以块模式显示 */
        background-color:#D8D8D8; /* 背景色 */
        padding:15px 3px; /* 文字内补丁间隔 */
        margin:0px 0px 1px 0px; /* 菜单外补丁间隔 */
    }
    .levelIe .level_ { /* 鼠标划过时触发显示二级类别 */
        display:block; /* 以块显示 */
        left:124px; /* 相对于一级类别显示的位置 */
        width:120px; /* 宽度 */
        height:auto; /* 高度 */
        top:0px; /* 相对于一级类别所在位置的顶端 */
        background-color:#EFEFEF; /* 定义背景色 */
        position:absolute; /* 位置为绝对位置 */
    }
    .levelIe .level_ .level_title {
        /* 定义二级类别标题样式 */
        font-weight:bold; /* 字体加粗 */
        background-color:#A7ADFE; /* 背景色 */
        color:white; /* 文字颜色 */
    }
    .levelIe .level_ a:hover {
        /* 定义二级类别链接显示样式 */
        background-color:#F83658; /* 背景色 */
        color:white; /* 文字颜色 */
    }
    .levelIe .level_ * {
        /* 定义所有二级类别通用属性 */
        display:block; /* 以块显示 */
        color:black; /* 文字颜色 */
        padding:0px 2px; /* 内补丁间隔 */
    }
    /* ------------------- end 针对 IE 的 CSS 弹出菜单 -------------------*/
/*]]>*/
</style>
<script type="text/javascript">
//<![CDATA[
if (navigator.appName=="Microsoft Internet Explorer") {
    function fPmVerticalRightOut() {
        var getItem = document.getElementById("pmVerticalRightOut").getElementsByTagName("div");
        for (var i=0; i<getItem.length; i++) {
            getItem[i].onmouseover=function() {
                if(     this.className=="level"){
                    this.className="levelIe";
                }
            }
            getItem[i].onmouseout=function() {
                if(     this.className=="levelIe"){
                    this.className="level";
                }
            }//css popup menu script by shawl.qiu
        }
    }
    window.onload=fPmVerticalRightOut;
}
//]]>
</script>
</head>
<body>

<div class="pmVerticalRightOut" id="pmVerticalRightOut">
    <div class="level">
        <div class="levelTitle">level</div>
        <div class="level_">
            <div class="level_title">level_ title</div>
            <a href="">level_ title 1</a>
            <a href="">level_ title 2</a>
            <a href="">level_ title 3</a>
            <a href="">level_ title 4</a>
            <a href="">level_ title 5</a>
        </div>
    </div>
    <div class="level">
        <div class="levelTitle">level 1</div>
        <div class="level_">
            <div class="level_title">level_ title</div>
            <a href="">level_ title 1</a>
            <a href="">level_ title 2</a>
            <a href="">level_ title 3</a>
            <a href="">level_ title 4</a>
            <a href="">level_ title 5</a>
        </div>
    </div>


</div>



</body>






<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
