

<div class="hc_lnav jslist">
	<div class="allbtn">

		<ul style="width:190px" class="jspop box">
			<li class=a1>
				<div class=tx><a href="#"><i>&nbsp;</i>电脑配件</a> </div>
				<dl>
					<dt></dt>
					<dd>
						<a href="#">主机</a>
						<a href="#">显示器</a>
						<a href="#">键盘鼠标</a>
						<a href="#">电脑音箱</a>
					</dd>
				</dl>

				<div class=pop>
					<dl>
						<dl>
							<dt>主机</dt>
							<dd>
								<a class="ui-link" href="/products/1">CPU</a>
								<a class="ui-link"  href="/products/2">硬盘</a>
								<a class="ui-link" href="/products/3">主板</a>
								<a class="ui-link"   href="/products/4">内存</a>
								<a class="ui-link" href="/products/5">机箱</a>
							</dd>
						</dl>
						<dl>
							<dt>显示器</dt>
							<dd>
								<a class="ui-link" href="/products/6">三星</a>
								<a class="ui-link"  href="/products/7">华硕</a>
								<a class="ui-link" href="/products/8">联想</a>
								<a class="ui-link"  href="/products/9">戴尔</a>
								<a class="ui-link" href="/products/10">宏碁</a>
								<a class="ui-link" href="/products/11">AOC</a>
							</dd>
						</dl>
						<dl>
							<dt>键盘鼠标</dt>
							<dd>
								<a class="ui-link" href="/products/12" >罗技</a>
								<a class="ui-link"  href="/products/13">双飞燕</a>
								<a class="ui-link"  href="/products/14">尼本</a>
								<a class="ui-link"   href="/products/15">雷蛇</a>
								<a class="ui-link"    href="/products/16">雷柏</a>
								<a class="ui-link"   href="/products/17">森松尼</a>
							</dd>
						</dl>
						<dl>
							<dt>电脑音箱</dt>
							<dd>
								<a class="ui-link" href="/products/18">漫步者</a>
								<a class="ui-link"  href="/products/19">雅兰仕</a>
								<a class="ui-link" href="/products/20">雅马哈</a>
								<a class="ui-link"  href="/products/21">惠威</a>
								<a class="ui-link"  href="/products/22">BOSE</a>
								<a class="ui-link" href="/products/23">飞利浦</a>
							</dd>
						</dl>


					<div class=clr></div>
					<div ><a href=""><img src="http://pic002.cnblogs.com/img/anlyren/201002/2010022311195093.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="https://cbu01.alicdn.com/img/ibank/2016/419/739/2990937914_1501822747.310x310.jpg" width="130" height="110"/></a> </div>
          <div ><a href=""><img src="http://image.big5.made-in-china.com/2f0j01MeFQRYLBYpbH/%E9%9F%B3%E7%AE%B1%EF%BC%8801%EF%BC%89.jpg" width="130" height="110"/></a> </div>
				</div>
			 </dl>
			</li>

			<li class=a2>
				<div class=tx><a href=""><i>&nbsp;</i>品牌电脑</a> </div>
				<dl>
					<dt></dt>
					<dd>
						<a href="">一体机</a>
						<a href="">笔记本</a>
						<a href="" >台式机</a>

					</dd>
				</dl>
				<div class=pop>
					<dl>
						<dl>
							<dt>一体机</dt>
							<dd>
								<a class="ui-link" href="/products/24" >联想一体机</a>
								<a class="ui-link"    href="/products/25">苹果一体机</a>
								<a  class="ui-link" href="/products/26">华硕一体机</a>
								<a class="ui-link"   href="/products/27" >戴尔一体机</a>
								<a class="ui-link"   href="/products/28" >惠普一体机</a>
								<a class="ui-link"   href="/products/29">宏碁一体机</a>
							</dd>
						</dl>
						<dl>
							<dt>笔记本</dt>
							<dd>
								<a class="ui-link" href="/products/30" >惠普笔记本</a>
								<a class="ui-link"  href="/products/31"  >华硕笔记本</a>
								<a class="un ui-link"   href="/products/32">苹果笔记本</a>
								<a    class="ui-link" href="/products/33" >宏碁笔记本</a>
								<a class="ui-link"   href="/products/34">联想笔记本</a>
							</dd>
						</dl>
						<dl>
							<dt>台式机</dt>
							<dd>
								<a class="ui-link" href="/products/35" >苹果台式机</a>
								<a class="ui-link"    href="/products/36"  >华硕台式机</a>
								<a class="ui-link"   href="/products/37">戴尔台式机</a>
								<a class="ui-link" href="/products/38" >宏碁台式机</a>
							</dd>
						</dl>

					<div ><a href=""><img src="http://www.rongdacj.com/upload/201608/1471343049.png" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://img5.pcpop.com/ProductImages/320x240/8/8125/008125546.jpg" width="130" height="110"/></a> </div>
          <div ><a href=""><img src="http://img12.360buyimg.com/n7/jfs/t3373/320/572617154/275741/ebadf37e/580da364N69da9f4b.jpg" width="130" height="110"/></a> </div>
			 </div>
		 </dl>

			</li>
			<li class=a3>
				<div class=tx><a href=""><i>&nbsp;</i>办公耗材</a> </div>
				<dl>
					<dt></dt>
					<dd>
						<a href="" >打印机</a>
						<a href="">纸张</a>
						<a href="">传真机</a>
						<a href="">指纹考勤机</a>
					</dd>
				</dl>
				<div class=pop>
					<dl>
					<dl>
						<dl>
							<dt>打印机</dt>
							<dd>
								<a class="ui-link" href="/products/39">惠普打印机</a>
								<a class="ui-link"  href="/products/40">兄弟打印机</a>
								<a class="ui-link" href="/products/41" >联想打印机</a>
								<a class="ui-link"  href="/products/42">三星打印机</a>
								<a class="ui-link" href="/products/43"  >松下打印机</a>
								<a class="ui-link"  href="/products/44">京瓷打印机</a>
							</dd>
						</dl>
					</dl>
					<dl>
						<dt>纸张</dt>
						<dd>
							<a  href="/products/45">A3纸</a>
							<a  href="/products/46">A4纸</a>
							<a   href="/products/47">A5纸</a>
							<a  href="/products/48">传真纸</a>
							<a href="/products/49">记事本</a>
						</dd>
					</dl>
					<dl>
						<dt>传真机</dt>
						<dd>
							<a href="/products/50">松下传真机</a>
							<a  href="/products/51">兄弟传真机</a>
							<a  href="/products/52">夏普传真机</a>
						</dd>
					</dl>
					<dl>
						<dt>指纹考勤机</dt>
						<dd>
							<a href="/products/53">群英云考勤机</a>
							<a  href="/products/54">中控指纹</a>
						</dd>
					</dl>
					<div class=clr></div>
					<div ><a href=""><img src="http://www.tiaomawang.com/uploads/allimg/140921/1-140921213K60-L.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://www.89ws.com/UploadFile/ImgPro/2013121156492783818.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://attach3.dwnews.net/userImg/000/02/40/66_avatar_big.jpg" width="130" height="110"/></a> </div>
				</div>
			</dl>
			</li>
			<li class=a4>
				<div class=tx><a href=""><i>&nbsp;</i>其他</a> </div>
				<dl>
					<dt></dt>
					<dd>
						<a href="">手机</a>
						<a   href="">手机配件</a>
						<a  href="">网络产品</a>
					</dd>
				</dl>
				<div class=pop>
          <dl>
				  	<dl>
						<dl>
							<dt>手机</dt>
							<dd>
								<a class="ui-link" href="/products/55">三星手机</a>
								<a class="ui-link"   href="/products/56">苹果手机</a>
								<a class="ui-link"   href="/products/5">小米手机</a>
								<a class="ui-link"   href="/products/57">华为手机</a>
								<a  class="ui-link" href="/products/58">锤子手机</a>
							</dd>
						</dl>
						<dl>
							<dt>手机配件</dt>
							<dd>
								<a class="ui-link"  href="/products/59">手机壳</a>
								<a class="ui-link"  href="/products/60">贴膜</a>
								<a class="ui-link" href="/products/61">手机内存卡</a>
								<a class="ui-link" href="/products/62">手机支架</a>
								<a  class="ui-link" href="/products/63">充电宝</a>
							</dd>
						</dl>
					</dl>
					<dl>
						<dt>网络产品</dt>
						<dd>
							<a href="/products/64">路由器</a>
							<a href="/products/65">交换机</a>
							<a href="/products/66">网络机顶盒</a>
							<a  href="/products/67">随身wifi</a>
						</dd>
					</dl>

					<div class=clr></div>
					<div ><a href=""><img src="http://img.cnmo-img.com.cn/1403_600x1000/1402105.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://www.pcdiy.com.tw/webroot/data/media/d6bb9c2aa567e69e62bd6ef29174ba1d.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://pic.9ht.com/up/2015-7/2015726151746.jpg" width="130" height="110"/></a> </div>
				</div>
			</dl>
			</li>
		</ul>
	</div>
</div>




<div class="recommend">
 <div class="pic" id="fade">

		<ul>
			<li><a href="http://www.miaov.com/2013/"><img src="http://img.aiimg.com/uploads/allimg/131223/263915-131223145G3.jpg" /></a></li>
			<li><a href="http://www.miaov.com/2013/#curriculum"><img src="http://img.zcool.cn/community/016d7f5542ef450000019ae919e4e2.jpg" /></a></li>
			<li><a href="http://www.miaov.com/2013/#about"><img src="http://sw.wenxuncn.com/uploadfile/2015/0320/20150320033800181.png" /></a></li>
		</ul>

		<p></p>
	</div>
</div>



<div>
<script type="text/javascript">
// 自动播放的焦点图
(function (){
  var oDiv = $('#fade');
  var aUlLi = oDiv.find('ul li');
  var aOlLi = oDiv.find('ol li');
  var oP = oDiv.find('p');
  var arr = [ '＃', '＃', '＃' ];
  var iNow = 0;
  var timer = null;

  fnFade();

  aOlLi.click(function (){
    iNow = $(this).index();
    fnFade();
  });
  oDiv.hover(function (){ clearInterval(timer); }, autoPlay);

  function autoPlay() {
    timer = setInterval(function () {
      iNow++;
      iNow%=arr.length;
      fnFade();
    }, 3000);
  }
  autoPlay();

  function fnFade() {
    aUlLi.each(function (i){
      if ( i != iNow ) {
        aUlLi.eq(i).fadeOut().css('zIndex', 1);
        aOlLi.eq(i).removeClass('active');

      } else {
        aUlLi.eq(i).fadeIn().css('zIndex', 2);
        aOlLi.eq(i).addClass('active');
      }
    });
    oP.text(arr[iNow]);
  }
})();

</script>

</div>


<hr/>

<h3 class="tx">全部商品</h3>
<hr/>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
<%= will_paginate @products %>
